@font-face {
  font-family: 'Druk Cyr';
  src: local('Druk Cyr Bold Italic'), local('Druk-Cyr-Bold-Italic'),
      url('../assets/fonts/DrukCyr-BoldItalic.woff2') format('woff2'),
      url('../assets/fonts/DrukCyr-BoldItalic.woff') format('woff'),
      url('../assets/fonts/DrukCyr-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: 'Druk Cyr';
  background: #010101;
}

.counter{
  height: 100vh;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .plus,
  .minus{
    font-size: 300px;
    line-height: 140%;
    -webkit-text-stroke: 6px #fff;
    position: absolute;
    top: 50%;
  }

  .minus{
    color: #FF0000;
    transform: translate(calc(-100% + (-334.5px)), -50%) !important;
  }

  .plus{
    color: #55C82D;;
    transform: translate(calc(100% + 334.5px), -50%) !important;
  }
}

h1{
  color: #FEDE09;
  min-width: 489px;
  text-align: center;
  font-size: 700px;
  font-style: italic;
  line-height: 140%;
  font-weight: bold;
}